# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
# .expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Ignore keystore files
.tools/my-upload-key.keystore
my-upload-key.keystore

/android
/ios

# Ignore build artifacts
.tools/artifacts/*.aab
.tools/artifacts/*.apks
*.aab
*.apks

# Ignore additional build and system artifacts
.tools/bundletool/*.jar
.tools/artifacts/*
.tools/extracted_apks/*
*.log
*.bak
*.tmp

# Ignore .tools contents
.tools/artifacts/
.tools/extracted_apks/
.tools/my-upload-key.keystore
.tools/bundletool/*.jar

# Keep device specification
!.tools/device-spec.json
